{% extends 'base.html' %}
{% block title %}رهن و اجاره ملک{% endblock %}
{% block moptions %}
<div class=" container cst d-flex justify-content-center">
  <ul class="sdf d-flex">
    <li><a href=" {% url 'sell' %}">خرید و فروش</a></li>
    <li><a href="{% url 'rent' %}">رهن و اجاره</a></li>
  </ul>
</div>
{% endblock %}


{% block search %}

<div class="hform container-fluid d-flex justify-content-center mb-3">
    <form id="hform" method="POST" class="shadow-sm">
      <div class="d-flex mt-2 p-3 row justify-content-between">
        <div class="col-lg-2 col-md-6 d-flex flex-column">
          <div class="label"><span> منطقه ملک</span></div>
          <div class="custom-select-wrapper">
            <div class="custom-select">
              <div class="custom-select__trigger"><span>اکباتان</span>
                <div class="arrow"></div>
              </div>
              <div class="custom-options">
                <span class="custom-option" data-value="allaria">همه</span>
                <span class="custom-option selected" data-value="ekbatan">اکباتان</span>
                <span class="custom-option" data-value="bime">بیمه</span>
              </div>
            </div>
          </div>
        </div> 
      
        <div class="col-lg-3 col-md-6 d-flex flex-column">
          <div class="label"><span>نوع ملک</span></div>
          <div class="custom-select-wrapper">
            <div class="custom-select">
              <div class="custom-select__trigger"><span>آپارتمان</span>
                <div class="arrow"></div>
              </div>
              <div class="custom-options">
                <span class="custom-option" data-value="alltype">همه</span>
                <span class="custom-option selected" data-value="apartment">آپارتمان</span>
                <span class="custom-option" data-value="office">اداری و تجاری</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-5 d-flex flex-column JU">
          <div class="label"><span>بازه ودیعه (تومان)</span></div>
          <div class="price d-flex justify-content-around position-relative">
            <div class="d-flex flex-column">
              <input name="maxv" type="number" id="maxv" value="1000"><label for="maxv">max</label>
              </div>
            <div class="d-flex flex-column">
            <input name="minv" type="number" id="minv" value="0"><label for="minv">min</label>
            </div>
          
          </div>
          </div>
          <div class="col-lg-2 col-md-5 d-flex flex-column JU">
            <div class="label"><span>بازه متراژ (متر)</span></div>
            <div class="price d-flex justify-content-around position-relative">
              <div class="d-flex flex-column">
                <input name="metmax" type="number" id="metmax" value="1000"><label for="metmax">max</label>
                </div>
              <div class="d-flex flex-column">
              <input name="metmin" type="number" id="metmin" value="0"><label for="metmin">min</label>
              </div>
            </div>
            </div>
        <div class="col-lg-2 col-md-12 align-self-center d-flex ali">
          <input type="hidden" data-value="12" id="cunt">
          <input type="submit" id="search" class="btn btn-success px-5 py-3" value="جستجو">
        </div>
      </div>
    </form>
    <input type="hidden" data-value="allaria" id="areap">
    <input type="hidden" data-value="alltype" id="mtypep">
    <input type="hidden" data-value="0" id="minvp">
    <input type="hidden" data-value="100000000000" id="maxvp">
    <input type="hidden" data-value="0" id="metminp">
    <input type="hidden" data-value="10000" id="metmaxp">
  </div>
  {% endblock %} 

  {% block main%}
  {% load humanize %}
  <style>
    .sdf li:nth-child(2){
      background: #5e897c!important;
    }
    .sdf li:nth-child(2) a{
      color: white!important;
      text-shadow: 1px 1px 1px #5f5f5f!important;
    }
  </style>
      <div class="container mbwi">
        <div class="row">
          {% for file in files %}
          <div class="col-lg-4 col-xxl-3 col-md-6 flex-column">
            <div class="d-flex flex-row-reverse flex-md-column post mt-4 rounded shadow-sm border ">
              <div class="imgContent">
                <a href="{% url 'detrent' file.id %}">
                  <img class="rounded" src="{{file.image}}">
                </a>
              </div>
              <div class="cpost d-flex flex-column">
                <div class="titlePost">
                  <h2 class="citem text-black"><a href="{% url 'detrent' file.id %}">{{file.title}}</a> </h2>
                </div>
                <div class="tprice d-flex flex-column flex-grow-1">
                  <span>ودیعه : <span class="totalPrice">{{ file.priceR|floatformat:0|intcomma:False }}</span> تومان</span>
                  <span>اجاره : <span class="priceM">{{ file.priceE|floatformat:0|intcomma:False }}</span> تومان</span>
                </div>
                <div class="details">
                  <div class="container d-flex justify-content-between">
                  <div><i class="fa fa-line-chart" aria-hidden="true"></i><span> {{file.metraj}} متر</span></div>
                    <div><i class="fa fa-bed" aria-hidden="true"></i><span> {{file.room_qty}} خواب </span></div>
                    <div> <i class="fa fa-calendar" aria-hidden="true"></i><span> {{file.building_age}}</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         {% endfor %}
        </div>
      </div>
   {% endblock %}

   {% block jslib %}
   {{block.super}}
   <script>
    function ssrch(n)
    {
     
      $.post("{{ request.path }}",
      {
        area   :  $("#areap").attr("data-value"),
        mtype  :  $("#mtypep").attr("data-value"),
        minv   :  $("#minvp").attr("data-value"),
        maxv   :  $("#maxvp").attr("data-value"),
        metmin :  $("#metminp").attr("data-value"),
        metmax :  $("#metmaxp").attr("data-value"),
        c      :  $("#cunt").attr("data-value"),
      },
      function(data,status){
        if(n==1){
       $(".mbwi > .row").empty();
        }
       $.each(data["data"],function(k,v){
          r = $("<div class='col-xl-3 col-lg-4 col-md-6 flex-column'><div class='d-flex flex-row-reverse flex-md-column post mt-4 rounded shadow-sm border '><div class='imgContent'><a href='#'><img class='rounded' src=''></a></div><div class='cpost d-flex flex-column'><div class='titlePost'><h2 class='citem text-black'><a href=''></a></h2></div><div class='tprice d-flex flex-column flex-grow-1'><span> ودیعه : <span class='totalPrice'></span> تومان </span><span>اجاره : <span class='priceM'></span> تومان</span></div><div class='details'><div class='container d-flex justify-content-between'><div><i class='fa fa-line-chart' aria-hidden='true'></i><span id='metraj'></span></div><div><i class='fa fa-bed' aria-hidden='true'></i><span id='bed'></span></div><div><i class='fa fa-calendar' aria-hidden='true'></i><span id='cal'></span></div></div></div></div></div></div>");
          r.find("img.rounded").attr("src",v.image);
          r.find(".imgContent > a").attr("href","{{request.path}}"+"/"+v.id);
          r.find(".titlePost .citem a").text(v.title);
          r.find(".titlePost .citem a").attr("href","{{request.path}}"+"/"+v.id);
          r.find(".totalPrice").text(v.priceR).prettynumber({delimiter : ','});
          r.find(".priceM").text(v.priceE).prettynumber({delimiter : ','});
          r.find("#metraj").text(" "+v.metraj+" متر");
          r.find("#bed").text(" "+v.room_qty+" خواب");
          r.find("#cal").text(" "+v.building_age);
          $(r).appendTo(".mbwi > .row").hide().fadeIn(2000);
          $("#cunt").attr("data-value",parseInt($("#cunt").attr("data-value"))+12);
        });
      });
    }


      $(document).ready(function(){
        var counter = 0;
        $("#search").click(function(e){
            e.preventDefault();
            $("#cunt").attr("data-value","0");
            $("#areap").attr("data-value",$("#hform > div > div").eq(0).find(".selected").attr("data-value"));
            $("#mtypep").attr("data-value",$("#hform > div > div").eq(1).find(".selected").attr("data-value"));
            $("#minvp").attr("data-value",$("#minv").val()*1000000);
            $("#maxvp").attr("data-value",$("#maxv").val()*1000000);
            $("#metminp").attr("data-value",$("#metmin").val());
            $("#metmaxp").attr("data-value",$("#metmax").val());
            ssrch(1);
        });
        
        if (counter ==0){
          $(document.body).on('touchmove', function() {
            counter++;
            ssrch(2);
          
               
        });
          $(window).scroll(function() {
            if($(window).scrollTop() + $(window).height() == $(document).height()){ 
              counter++;
              ssrch(2);
          }
        });
      }
      });
    </script>
   {% endblock %}